[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pillow = "*"
pypdf2 = "*"
requests = "*"
tweepy = "*"
bs4 = "*"
flask = "*"
selenium = "*"

[requires]
python_version = "3.8"
